{% extends 'user/uhome1.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data" action="/predict_audiofn">
    <table class="table table-hover">
        <tr>
            <td><p style="color:white;">Select Audio</p></td>
            <td><input type="file" class="form-control" name="file" required accept="audio/*"></td>
        </tr>
        <tr>
            <td colspan="2">
                <div align="center"><input type="submit" value="Predict" class="btn btn-primary"></div>
            </td>

        </tr>

     {% if s %}
        <tr>
            <td colspan="2">
                <div align="center"> <audio controls>
        <source src="/media/{{ i }}" type="audio/mpeg">

    </audio>
                </div>
            </td>
        </tr>
            <tr>
            <td colspan="2">
                <div align="center"><h1>RESULT : {{ r }} ({{ a|floatformat:2 }}%)</h1> </div>
            </td>

        </tr>
        {% endif %}
    </table>
</form>
{% endblock %}