{% extends 'user/uhome1.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data" action="/predict_imagefn">
    <table class="table table-hover">
        <tr>
            <td><p style="color:white;">Select Image</p></td>
            <td><input type="file" class="form-control" name="file" required accept="image/*"></td>
        </tr>
        <tr>
            <td colspan="2">
                <div align="center"><input type="submit" value="Predict" class="btn btn-primary"></div>
            </td>

        </tr>

    </table>
</form>
     {% if s %}
        <tr>
            <td colspan="2">
                <div align="center"><img src="/media/{{ i }}" width="200" height="200"/> </div>
            </td>
        </tr>
            <tr>
            <td colspan="2">
                <div align="center"><h1>RESULT : {{ r }} ({{ p }}%)</h1> </div>
            </td>

        </tr>
        {% endif %}
{% endblock %}