{% extends 'user/uhome1.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data" action="/predict_videofn">
    <table class="table table-hover">
        <tr>
            <td><p style="color:white;">Select Video</p></td>
            <td><input type="file" class="form-control" name="file" required accept="video/*"></td>
        </tr>
        <tr>
            <td colspan="2">
                <div align="center"><input type="submit" value="Predict" class="btn btn-primary"></div>
            </td>

        </tr>

    </table>
</form>
     {% if s %}
        <tr>
            <td colspan="2">

                <div align="center">
                    <video width="320" height="240" controls>
  <source src="/media/{{ i }}" type="video/mp4">


</video>
                    </div>
            </td>
        </tr>
            <tr>
            <td colspan="2">
                <div align="center"><h1>RESULT : {{ r }} ({{ p }}%)</h1> </div>
            </td>

        </tr> <tr>


        </tr>
        {% endif %}
{% endblock %}